@model IEnumerable<ExecuteAutoEmployee.Models.Employee>

<form method="get" style="text-align:right" class="input-list style-1 clearfix">
    @if (Roles.IsUserInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @style = "color:white, text-align:left" })
    }
    <input type="text" name="searchTerm" placeholder="Search Name" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Benefits", "Details", "Benefit", new { id = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
